<section class="hero">
    <include src="partials/hero.html"></include>
    <div class="conteiner">
        <h1 class="hero-title">Комплексная подготовка к ВНО
            по английскому языку</h1>
            <p>Просто не будет.</p>
               <p>Но ты гарантировано наберешь +25 баллов</p>
               <img src="#" alt="foto">
               <div class="button-order">
                <button  class="button-order" data-modal-open>хочу на бесплатное занятие</button>
                  <div class="">
                      <ul class="">
                          <li>Адаптированная авторская программа ВНО</li>
                          <li>Современные методики обучения</li>
                          <li>Финансовая гарантия результата</li>
                      </ul>
                  </div>
               </div>
          </div>
          <script src="../index.js"></script>
</section>